.step-indicator {
  display: flex;
  gap: 8px;
  margin-top: 32px;
}

.step {
  width: 34px;
  height: 7px;
  background: #d8d8d8;
  border-radius: 20px;
}

.step.active {
  background: var(--primary-color);
}