.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.buttons {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .form-grid {
    grid-template-columns: 1fr;
  }

  .buttons {
    flex-direction: column;
    gap: 12px;
  }
}